<h1>Add a New Plant!<h1>
<form action="/plants" method="POST">
    <label for="plant_name">Name</label>
    <input type="string" name="name_of_input" id="plant_name"/>
    <input type="submit"/>
</form>