<h1>Welcome to Plant Tracker!<h1>

<form action=" " method="POST">
    <label for="new_plant">Add</label>
    <input type="string" name="name_of_input" id="new_plant"/>
    <input type="submit"/>
</form>